#block-boxes-gnl-about {
  @include highlight-tan;
}

#views-exposed-form-orgs-page {
  .form-item label {
    margin-top: -25px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: smaller;
    &:after {
      content: ': ';
    }
  }
}
